services:
  app-serve:
    build: .
    ports:
      - "8080:8080"
    environment:
      - CURRENCY_SERVICE_DB_HOST=mariadb
      - CURRENCY_SERVICE_DB_PORT=3306
      - CURRENCY_SERVICE_DB_USER=currency
      - CURRENCY_SERVICE_DB_PASSWORD=currency
      - CURRENCY_SERVICE_DB_NAME=currency_service
      - CURRENCY_SERVICE_SERVER_PORT=8080
    depends_on:
      mariadb:
        condition: service_healthy
    command: ["serve"]
    restart: unless-stopped

  # prepopulate the database with initial data before starting the server
  app-fetch:
    build: .
    environment:
      - CURRENCY_SERVICE_DB_HOST=mariadb
      - CURRENCY_SERVICE_DB_PORT=3306
      - CURRENCY_SERVICE_DB_USER=currency
      - CURRENCY_SERVICE_DB_PASSWORD=currency
      - CURRENCY_SERVICE_DB_NAME=currency_service
      - CURRENCY_SERVICE_SERVER_PORT=8080
    depends_on:
      mariadb:
        condition: service_healthy
    command: [
        "fetch",
        "--currencies",
        "AUD,BRL,CAD,CHF,CNY,CZK,DKK,GBP,HKD,HUF",
      ] # fetch 10 currencies in "paralell"
    restart: no # do not restart the fetch service, it should run once and exit

  mariadb:
    image: mariadb:12.1.2
    environment:
      - MYSQL_ROOT_PASSWORD=currency
      - MYSQL_DATABASE=currency_service
      - MYSQL_USER=currency
      - MYSQL_PASSWORD=currency
    ports:
      - "3306:3306"
    volumes:
      - ./migrations/0001_initial.up.sql:/docker-entrypoint-initdb.d/0001_initial.up.sql:ro
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
